:root {
  --gold: rgb(252, 239, 170);
  --brown: maroon;
  --black: black;
}

.dog-message {
  margin: auto;
  font-weight: 800;
  text-align: center;
  width: 100%;
  height: 71px;
  color: blue;
  text-shadow: 1px 1px 1px blue;
}

.dog-message:after {
  content: "";
  animation: dog-message 8s linear infinite;
}

@keyframes dog-message {
  0% {
    content: "Eu sunt LUNA";
    color: cyan;
  }
  35% {
    content: "Sper să revii!";
    color: magenta;
  }
  71% {
    content: "La revedere!";
    color: yellow;
  }
  100% {
    content: "Eu sunt LUNA";
    color: springgreen;
  }
}

.yard {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 5%;
  margin-bottom: 8%;
  width: 230px;
  height: 350px;
}

.dog-head-all {
  width: 100%;
  height: 150px;
  background: transparent;
  animation: move-head 10s infinite alternate;
}

.dog-head {
  position: absolute;
  left: 50px;
  top: 1px;
  width: 130px;
  height: 150px;
  background: var(--gold);
  border-radius: 41% 41% 50% 50%;
  border-bottom: 2px solid var(--brown);
}

@keyframes move-head {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  35% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.dog-ear {
  position: absolute;
  top: 10px;
  width: 80px;
  height: 120px;
}

.dog-ear.left {
  top: 18px;
  left: 14px;
  clip-path: polygon(5% 90%, 32% 0, 100% 0);
  transform: rotate(-15deg);
}

.dog-ear.right {
  top: 12px;
  right: 15px;
  clip-path: polygon(55% 100%, 32% 0, 100% 0);
  transform: rotate(-4deg);
}

.dog-ear::before {
  content: "";
  position: absolute;
  background: var(--brown);
  width: 100px;
  height: 100px;
}

.dog-ear.left::before {
  left: 5px;
  border-radius: 50% 30% 50% 50%;
}

.dog-ear.right::before {
  right: 5px;
  border-radius: 30% 50% 50% 50%;
}

.dog-snoot {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--black);
  width: 35px;
  height: 30px;
  border-radius: 40%;
}

.dog-snoot::before {
  content: "";
  position: absolute;
  top: 30px;
  left: -12px;
  width: 30px;
  height: 15px;
  box-shadow: 1px 3px 0 black;
  background: var(--gold);
  border-radius: 50%;
}

.dog-snoot::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 18px;
  width: 30px;
  height: 15px;
  box-shadow: -1px 3px 0 black;
  background: var(--gold);
  border-radius: 0 0 50% 50%;
}

.dog-eye {
  position: absolute;
  top: 30px;
  background: black;
  border: 5px solid var(--brown);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.dog-eye.left {
  left: 20px;
}

.dog-eye.right {
  right: 20px;
}

.dog-eye::after {
  content: "";
  position: absolute;
  right: 3px;
  width: 5px;
  height: 5px;
  background: var(--gold);
  border-radius: 50%;
}

.dog-tongue {
  position: absolute;
  width: 25px;
  height: 20px;
  background: #e74e60;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 50% 50%;
  bottom: 12px;
}

.dog-body {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  width: 150px;
  height: 100px;
  background: var(--gold);
  border-radius: 50% 50% 20% 20%;
}

.dog-paw {
  position: absolute;
  top: 155px;
  width: 55px;
  height: 35px;
  background: var(--gold);
  border: 8px maroon;
  border-radius: 50% 50% 30% 30%;
}

.dog-paw.left {
  left: 25px;
  box-shadow: 0 -5px 0 maroon;
  animation: move-paw 3s infinite alternate;
}

.dog-paw.right {
  right: 25px;
  box-shadow: 0 -5px 0 black;
}

@keyframes move-paw {
  0% {
    top: 152px;
  }
  75% {
    top: 135px;
  }
  100% {
    top: 152px;
  }
}

.yard-fence {
  position: absolute;
  display: flex;
  width: 320px;
  height: 200px;
  top: 175px;
  left: 50%;
  transform: translateX(-50%);
}

.plank-1 {
  background: red;
  position: relative;
  width: 32px;
  height: 175px;
  border-radius: 35% 35% 0 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.plank-2 {
  background: blue;
  position: relative;
  width: 32px;
  height: 175px;
  border-radius: 35% 35% 0 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.plank-3 {
  background: green;
  position: relative;
  width: 32px;
  height: 175px;
  border-radius: 35% 35% 0 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.plank-4 {
  background: maroon;
  position: relative;
  width: 32px;
  height: 175px;
  border-radius: 35% 35% 0 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.plank-5 {
  background: black;
  position: relative;
  width: 32px;
  height: 175px;
  border-radius: 35% 35% 0 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.plank-6 {
  background: orange;
  position: relative;
  width: 32px;
  height: 175px;
  border-radius: 35% 35% 0 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.plank-7 {
  background: magenta;
  position: relative;
  width: 32px;
  height: 175px;
  border-radius: 35% 35% 0 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.plank-8 {
  background: springgreen;
  position: relative;
  width: 32px;
  height: 175px;
  border-radius: 35% 35% 0 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.plank-9 {
  background: yellow;
  position: relative;
  width: 32px;
  height: 175px;
  border-radius: 35% 35% 0 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.plank-10 {
  background: cyan;
  position: relative;
  width: 32px;
  height: 175px;
  border-radius: 35% 35% 0 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.plank {
  background: maroon;
  position: relative;
  width: 25px;
  height: 175px;
  border-radius: 35% 35% 0 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
