* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

article {
  margin-top: -10px;
  width: 100%;
  height: 700px;
}

.icon {
  top: 59px;
  margin: auto;
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 100;
  background-color: black;
  display: flex;
  justify-content: center;
}

.icon img {
  height: 120px;
  padding-left: 1px;
  padding-right: 1px;
}

h1 {
  color: gold;
  padding: 5px;
  font-weight: 700;
  text-align: center;
  margin-top: 25px;
  font-family: "times new roman", "sans-serif";
}

b {
  font-size: 25px;
  color: black;
  line-height: 27px;
  font-weight: 800;
  color: gold;
}

main {
  background-color: black;
  position: absolute;
  overflow: auto;
  top: 200px;
  width: 100%;
  transform: translate3d(0, 0, 0);
}

main .page {
  margin: auto;
}

.category {
  width: 98%;
  margin: auto;
  text-align: center;
  font-family: "times new roman", "sans-serif";
}

.category dt {
  height: 45px;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  border-bottom: 1px solid blue;
  background: linear-gradient(cyan, rgb(4, 4, 240));
}

.category dd {
  font-size: 15px;
  font-weight: 800;
  text-align: justify;
  text-justify: inter-word;
  margin: auto;
  padding: 2px;
  background-color: white;
}


label[for="invert-font"],
label[for="invert-color"] {
  top: 2px;
  width: 39%;
  height: 54px;
  color: white;
  background-color: black;
  text-align: center;
  border: 1px solid white;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  line-height: 50px;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

label[for="invert-font"] {
  left: 2px;
  font-weight: 800;
}

label[for="invert-color"] {
  right: 2px;
  font-weight: 800;
}

#invert-font:checked ~ label[for="invert-font"] {
  color: black;
  background-color: white;
}

#invert-color:checked ~ label[for="invert-color"] {
  color: black;
  background-color: white;
}

#invert-font:checked ~ label[for="invert-font"]:before {
  content: "SMALL FONT";
}

#invert-color:checked ~ label[for="invert-color"]:before {
  content: "DAY MODE";
}

#invert-font:checked ~ main .category dd p {
  font-size: 18px;
}

#invert-color:checked ~ main .category dd p {
  color: white;
  background-color: black;
}

label[for="invert-font"]:before {
  content: "BIG FONT";
}
label[for="invert-color"]:before {
  content: "NIGHT MODE";
}


#candle {
  overflow: hidden;
  top: 0;
  position: fixed;
  background-color: black;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 59px;
  border: 1px solid white;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#candle-wax {
  position: relative;
  width: 50px;
  height: 15px;
  top: 20px;
  background: radial-gradient(white, beige);
  border-radius: 5px;
  margin-left: 10px;
}

#candle-light {
  position: relative;
  background-color: darkslategrey;
  top: 14px;
  left: -31px;
  width: 9px;
  height: 4px;
}

#candle-light::before {
  content: "";
  position: absolute;
  height: 35px;
  left: -7px;
  top: -35px;
  width: 15px;
  filter: blur(1px);
  background: linear-gradient(white 70%, transparent);
  box-shadow: 1px 1px 25px 7px darkorange;
  border-radius: 50%;
  animation: blink 15s alternate infinite;
}

@keyframes blink {
  0% {
    width: 15px;
    bottom: 8px;
    left: -2px;
    transform: rotateY(7deg);
    transform: rotateZ(7deg);
  }
  25% {
    width: 18px;
    bottom: 8px;
    left: -5.3px;
    transform: rotateY(0deg);
    transform: rotateZ(0deg);
  }
  50% {
    width: 15px;
    bottom: 8px;
    left: -5.5px;
    transform: rotateY(-7deg);
    transform: rotateZ(-7deg);
  }
  75% {
    width: 18px;
    bottom: 8px;
    left: -5.3px;
    transform: rotateY(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    width: 15px;
    bottom: 8px;
    left: -2px;
    transform: rotateY(7deg);
    transform: rotateZ(7deg);
  }
}

 